@charset "utf-8";
/* CSS Document */

/* Table */
table {
  width: 100%;
}

th, td {
  text-align: center;
}

table, th, td  {
  border: solid 1px black;  
}

/* Navigation */
ul {
  list-style: none;
}
a:hover {
  color: white;
  background-color: black;
  font-size: 19px;
  }

/* Footer */

p {
  text-align: center;
}
